<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>silencing</key>
	<false/>
	<key>needCleanPaths</key>
	<array>
		<string>/Users/miaoyou.gmy/Library/Developer/Xcode/DerivedData</string>
	</array>
	<key>cleanTimeInterval</key>
	<integer>7</integer>
</dict>
</plist>
